<!DOCTYPE html>
<html>

<head>
    <title>Card List</title>
    <style>
        * {
            color: #FFFFFF;
        }

        body {
            background-color: #000000;
        }

        table {
            border-collapse: collapse;
            color: #FFFFFF;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #4b4a4a;
        }

        select {
            background-color: #4a4a4b;
        }

        .red-highlight {
            background-color: #7a1212;
        }
    </style>
</head>

<body>
    <!-- This is built programmatically with JS -->
    <select id="sortColumns" multiple style="overflow: hidden;">
    </select>
    <!-- This is built programmatically with JS -->
    <div id="selectedColumns" style="padding: 1em;">
    </div>

    <table>
        <thead>
            <tr>
                <th>Card Name</th>
                <th>CMC</th>
                <th>Color</th>
                <th>Mana Cost</th>
                <th>Owned</th>
                <th>Incoming</th>
                <th>Sort Score</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr class="{% if card.incoming is not none %}red-highlight{% endif %}">
                <td>{{ card.card_name }}</td>
                <td>{{ card.cmc }}</td>
                <td>{{ card.color }}</td>
                <td>{{ card.mana_cost }}</td>
                <td>{% if card.owned %}{{ card.owned }}{% else %}0{% endif %}</td>
                <td>{% if card.incoming %}{{ card.incoming }}{% else %}0{% endif %}</td>
                <td>{{ card.sort_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Sorting logic -->
    <script>
        /**
            * Get a hash map of column names to their index in the table
            * @param {HTMLTableElement} table
            * @returns {Map} A hash map of column names to their column index in the table
            * E.g. { 'Card Name': 0, 'CMC': 1, ... } for a table with columns 'Card Name', 'CMC', ...
            */
        function getColumnNameHashMap(table) {
            const thead = table.querySelector('thead'); // Get the thead element
            const ths = thead.querySelectorAll('th'); // Get all th elements within thead

            const columnNames = Array.from(ths).map(th => th.textContent.trim());
            const columnNameToIndex = {};
            columnNames.forEach((columnName, index) => {
                columnNameToIndex[columnName] = index;
            });
            return columnNameToIndex;
        };

        /**
         * Split a string on the last occurrence of a character
         * @param {string} str The string to split
         * @param {string} char The character to split on
         * @returns {Array<string>} An array containing the string split into two parts
         * E.g. splitOnLastOccurrenceOfChar('Card Name asc', ' ') => ['Card Name', 'asc']
         */
        function splitOnLastOccurrenceOfChar(str, char) {
            const lastIndex = str.lastIndexOf(char);
            return [str.slice(0, lastIndex), str.slice(lastIndex + 1)];
        }

        /**
         * Sort the table based on the selected columns
         * @param {Array<string>} selectedCols An array of strings representing the selected columns for sorting
         */
        function sortTable(selectedCols) {
            const table = document.getElementsByTagName("table")[0];
            const headerMap = getColumnNameHashMap(table);
            const tableRows = Array.from(table.tBodies[0].rows);

            // Sorting is based on the return val, lower val comes first
            tableRows.sort((a, b) => {
                for (const selectedSort of selectedCols) {
                    let comparison = 0;
                    const [column, order] = splitOnLastOccurrenceOfChar(selectedSort, ' ');
                    i = headerMap[column];

                    comparison = order === 'asc' ? a.cells[i].innerHTML.localeCompare(b.cells[i].innerHTML) : b.cells[i].innerHTML.localeCompare(a.cells[i].innerHTML);

                    if (comparison !== 0) {
                        return comparison;
                    }
                }

                return 0; // If all sorted columns are equal, maintain original order
            });

            // Re-insert sorted rows
            for (const row of tableRows) {
                table.tBodies[0].appendChild(row);
            }
        }

        /**
         * Get the select element for sorting
         * @returns {HTMLSelectElement} The select element for sorting
         */
        function getSortSelector() {
            return document.getElementById('sortColumns');
        }

        /**
         * Get the columns that are selected for sorting
         * @returns {Array<string>} An array of strings representing the selected columns for sorting
         */
        function getSelectedSortColumns() {
            const sortColumns = getSortSelector();
            return Array.from(sortColumns.selectedOptions).map(option => option.value);
        }

        /**
         * Update the text to show the selected columns for sorting
         * @param {Array<string>} selectedCols An array of strings representing the selected columns for sorting
         */
        function updateSelectedColumnsText(selectedCols) {
            document.getElementById('selectedColumns').textContent = `Sorting by: ${selectedCols.join(', ')}`;
        }

        // Get the columns that are selected for sorting
        const sortColumns = getSortSelector();
        // Add a listener for changes to the selection
        sortColumns.addEventListener('change', () => {
            const selectedCols = getSelectedSortColumns();
            updateSelectedColumnsText(selectedCols);
            sortTable(selectedCols);
        });
    </script>

    <!-- Styling logic -->
    <script>

        const selector = getSortSelector();
        // Add the options based on the table headers
        const table = document.getElementsByTagName("table")[0];
        const thead = table.querySelector('thead');
        const ths = thead.querySelectorAll('th');
        const columnNames = Array.from(ths).map(th => th.textContent.trim());
        for (const columnName of columnNames) {
            const optionAsc = document.createElement('option');
            optionAsc.value = `${columnName} asc`;
            optionAsc.textContent = `${columnName} (Ascending)`;
            selector.appendChild(optionAsc);

            const optionDesc = document.createElement('option');
            optionDesc.value = `${columnName} desc`;
            optionDesc.textContent = `${columnName} (Descending)`;
            selector.appendChild(optionDesc);
        }
        // Set the size of the select to show all options
        selector.size = selector.options.length;

        // TODO: Fix the sorting to take order of selection into account
        // Select some options by default based on the option value
        // ['Color', 'CMC', 'Card Name'].forEach((header) => {
        // const option = selector.querySelector(`option[value="${header} asc"]`);
        //option.selected = true;
        //});
        // Sort by defaults once selected
        // const selectedCols = getSelectedSortColumns();
        // for some reason the onchange event doesn't trigger when modifying at this point?
        //sortTable(selectedCols);
        updateSelectedColumnsText(selectedCols);

    </script>

</body>

</html>
