<!DOCTYPE html>
<html>

<head>
    <title>Card List</title>
    <style>
        .red-highlight {
            background-color: #FFCECE;
            /* Light red highlight */
        }

        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .asc:after {
            content: " \25B2";
            /* Black up-pointing triangle */
        }

        .desc:after {
            content: " \25BC";
            /* Black down-pointing triangle */
        }
    </style>
</head>

<body>
    <!-- This is built programmatically with JS -->
    <select id="sortColumns" multiple style="overflow: hidden;">
    </select>
    <!-- This is built programmatically with JS -->
    <div id="selectedColumns" style="padding: 1em;">
    </div>

    <table>
        <thead>
            <tr>
                <th>Card Name</th>
                <th>CMC</th>
                <th>Color ID</th>
                <th>Mana Cost</th>
                <th>Owned</th>
                <th>Incoming</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr class="{% if card.owned is none %}red-highlight{% endif %}">
                <td>{{ card.card_name }}</td>
                <td>{{ card.cmc }}</td>
                <td>{{ card.color_id }}</td>
                <td>{{ card.mana_cost }}</td>
                <td>{% if card.owned %}{{ card.owned }}{% else %}0{% endif %}</td>
                <td>{% if card.incoming %}{{ card.incoming }}{% else %}0{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Sorting logic -->
    <script>
        /**
            * Get a hash map of column names to their index in the table
            * @param {HTMLTableElement} table
            * @returns {Map} A hash map of column names to their column index in the table
            * E.g. { 'Card Name': 0, 'CMC': 1, ... } for a table with columns 'Card Name', 'CMC', ...
            */
        function getColumnNameHashMap(table) {
            const thead = table.querySelector('thead'); // Get the thead element
            const ths = thead.querySelectorAll('th'); // Get all th elements within thead

            const columnNames = Array.from(ths).map(th => th.textContent.trim());
            const columnNameToIndex = {};
            columnNames.forEach((columnName, index) => {
                columnNameToIndex[columnName] = index;
            });
            return columnNameToIndex;
        };

        /**
         * Split a string on the last occurrence of a character
         * @param {string} str The string to split
         * @param {string} char The character to split on
         * @returns {Array<string>} An array containing the string split into two parts
         * E.g. splitOnLastOccurrenceOfChar('Card Name asc', ' ') => ['Card Name', 'asc']
         */
        function splitOnLastOccurrenceOfChar(str, char) {
            const lastIndex = str.lastIndexOf(char);
            return [str.slice(0, lastIndex), str.slice(lastIndex + 1)];
        }

        function sortTable(selectedCols) {
            const table = document.getElementsByTagName("table")[0];
            const headerMap = getColumnNameHashMap(table);
            const tableRows = Array.from(table.tBodies[0].rows);

            // Sorting is based on the return val, lower val comes first
            tableRows.sort((a, b) => {
                for (const selectedSort of selectedCols) {
                    let comparison = 0;
                    const [column, order] = splitOnLastOccurrenceOfChar(selectedSort, ' ');
                    i = headerMap[column];

                    comparison = order === 'asc' ? a.cells[i].innerHTML.localeCompare(b.cells[i].innerHTML) : b.cells[i].innerHTML.localeCompare(a.cells[i].innerHTML);

                    if (comparison !== 0) {
                        return comparison;
                    }
                }

                return 0; // If all sorted columns are equal, maintain original order
            });

            // Re-insert sorted rows
            for (const row of tableRows) {
                table.tBodies[0].appendChild(row);
            }
        }

        // Get the columns that are selected for sorting
        const sortColumns = document.getElementById('sortColumns');
        // Add a listener for changes to the selection
        sortColumns.addEventListener('change', () => {
            const selectedCols = Array.from(sortColumns.selectedOptions).map(option => option.value);
            document.getElementById('selectedColumns').textContent = `Sorting by: ${selectedCols.join(', ')}`;
            sortTable(selectedCols);
        });
    </script>

    <!-- Styling logic -->
    <script>

        const select = document.getElementById('sortColumns');
        // Add the options based on the table headers
        const table = document.getElementsByTagName("table")[0];
        const thead = table.querySelector('thead');
        const ths = thead.querySelectorAll('th');
        const columnNames = Array.from(ths).map(th => th.textContent.trim());
        for (const columnName of columnNames) {
            const optionAsc = document.createElement('option');
            optionAsc.value = `${columnName} asc`;
            optionAsc.textContent = `${columnName} (Ascending)`;
            select.appendChild(optionAsc);

            const optionDesc = document.createElement('option');
            optionDesc.value = `${columnName} desc`;
            optionDesc.textContent = `${columnName} (Descending)`;
            select.appendChild(optionDesc);
        }
        // Set the size of the select to show all options
        select.size = select.options.length;

    </script>

</body>

</html>
